{% extends "base.html" %}

{% block content %}


	<div class="container">
		<h1>Add Anime</h1>
      		<br>
      		<form action="" method="post">
			<div class="form-group">
			<input type="text" placeholder="name" name="name" value="{{ request.form.name }}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="category" name="category" value="{{ request.form.category}}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="genre" name="genre" value="{{ request.form.genre }}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="studio" name="studio" value="{{ request.form.studio}}">
			 </div>
                        <div class="form-group">
                        <input type="text" placeholder="version" name="version" value="{{ request.form.version}}">


			</div>
			<button class="btn btn-primary" type="submit">Add Anime</button>
		</form>
		{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
		{% if msg %}
		<p class="msg">{{ msg }}</p>
		{% endif %}
	</div>
{% endblock %}
