{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>List of Animes</h1>
      		<br>
		<table class="table">
		<thead>
			<tr><td><strong>Anime</strong></td><td><strong>category</strong></td><td><strong>genre</strong></td><td><strong>studio</strong></td><td><strong>version</strong></td>



<!--anime_name, category_anime, genre, studio, version) --!>		
		</thead>
		<tbody>
    		{% for a in anime %}
		<tr>
			<td>{{ a.id}}</td><td>{{ a.description }}</td>
		</tr>
    		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}
